*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
   
     background-image: url("https://cdn.pixabay.com/photo/2022/10/21/21/11/art-7537962_1280.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: cursive;
}
.main{
    
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(65, 64, 64, 0.639);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cont1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 86px;
    text-align: center;
    
    
}
#input{
    height: 20%;
    width: 90%;
    border-radius: 10px;
   padding: 25px;
    
    
   
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    background-color: rgba(163, 163, 163, 0.927);
    color: black;
    border: none;
    outline: none;
    
}
button{
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(5, 177, 245, 0.468);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    
}
.cont2{
    font-size: 12px;
    width: 30px;


}
.cont3{background-color: rgba(161, 49, 49, 0.578);
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;


}
