:root {
  --bg-color: white;
  --text-color: black;
  --nav-bg: whitesmoke;
  --link-color: #555;
  --box-shadow: 0 0 10px #555;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --nav-bg: #1e1e1e;
  --link-color: white;
  --box-shadow: 0 0 10px white;

}


* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial;
  overflow-x: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease;
  
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--nav-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
   box-shadow: var(--box-shadow);
  z-index: 100;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul a {
  text-decoration: none;
  margin-left: 30px;
  color: var(--link-color);
  font-family: cursive;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to left, lightpink, lightblue);
  transition: width 0.3s ease;
}

ul a:hover::after {
  width: 100%;
}

ul a:hover {
  color: blue;
}
#anchor {
  color: #00ccff;
  margin-left: 60px;
  font-size: 28px;
}

#but2 {
  border: none;
  outline: none;
  margin-right: 60px;
  font-size: 28px;
  background: none;
  color: var(--text-color);
}


.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;

}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
}


.bubble {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: animate 1s linear infinite;
  z-index: -1;
}


.blue {
  background: #4fc3dc;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 20px #4fc3dc, 0 0 50px #4fc3dc;
}

.pink {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 20px #ff2d75, 0 0 50px #ff2d75;
}

.purple {
  background: #c77dff;
  box-shadow: 0 0 0 10px #c77dff44, 0 0 20px #c77dff, 0 0 50px #c77dff;
}

.green {
  background: #70e000;
  box-shadow: 0 0 0 10px #70e00044, 0 0 20px #70e000, 0 0 50px #70e000;
}

.yellow {
  background: #ffea00;
  box-shadow: 0 0 0 10px #ffea0044, 0 0 20px #ffea00, 0 0 50px #ffea00;
}


@keyframes animate {
  0% {
    transform: translateY(0) scale(0.1);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20vh) scale(0.3);
    opacity: 1;
  }
}

.sub-title{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
   
}
.sub-title span{
    color: #0ef;
    
}
section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    
    
    
}
.container1{
    width: 600px;
    height: 600px;
   margin-top: -60px;
    margin-bottom: 10vh;
   
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin: 30px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation:  animatee 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animatee{
    100%{
        transform: scaleX(1);
    }}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animatee 1s 1s cubic-bezier(1,0,0.5,1) forwards;
     transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 90%;

}
.progress-line.css span{

    width: 85%;
}
.progress-line.javascript span{

        width: 60%;

}
.progress-line.bootstrap span{
  
     width: 75%;

}
.progress-line.python span{
     width: 50%;

}
.progress-line span::after{
   position: absolute;
   padding: 1px 8px;
   background-color: #000;
   color: #fff;
   font-size: 12px;
   border-radius: 3px;
   top: -28px;
   right: -20px;
   animation: showText 0.5s 1.5s linear forwards;
   opacity: 0;

}
.progress-line.html span::after{
    content: "90%";

}
.progress-line.css span::after{
   
    content: "85%";


}
.progress-line.javascript span::after{
 content: "60%";
}
.progress-line.bootstrap span::after{
   content: "75%";

}
.progress-line.python span::after{
    
     content: "50%";

}
.progress-line span::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border:  7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
     animation: showText 0.5s 1.5s linear forwards;
   opacity: 0;

}
@keyframes showText{
100%{
    opacity: 1;
}
}
.progress-line.square span{
    width: 80%;

}
.progress-line.dots span{

    width: 90%;
}
.progress-line.analyze span{

        width: 75%;

}
.progress-line.crown span{
  
     width: 50%;

}
.progress-line.group span{
     width: 78%;

}

.progress-line.square span::after{
    content: "80%";

}
.progress-line.dots span::after{
   
    content: "90%";


}
.progress-line.analyze span::after{
 content: "75%";
}
.progress-line.crown span::after{
   content: "50%";

}
.progress-line.group span::after{
    
     content: "78%";

}
@media (max-width: 1025px){
    .container1{
        width: 300px;
    }
    section{
        gap: 40vh;
    }
    .sub-title{
        margin-top: 120px;
    }
}
@media (max-width: 768px){
    section{
        flex-direction: column;
        gap: 2vh;

    }
    .container1{
        width: 600px;
    }
     nav  {
    flex-direction: column;
    gap: 10px;
  }
  ul{
    margin-right: 45px;
  }
  ul a{
    font-size: 16px;
    margin-left: 15px;
  }
  #anchor {
    color: #00ccff;
    margin-left: 0px;
    font-size: 16px;
  }
  #but2 {
    margin-right: 0px;
    font-size: 16px;
  }

}
@media (max-width: 426px){
    section{
        flex-direction: column;
        gap: 10vh;
    }
    .container1{
       width: 300px;
       height: auto;
       padding: 0;
    }
 
  nav {
    flex-direction: column;
  }
  ul {
    margin-right: 30px;
  }
  ul a {
    font-size: 16px;
    margin-left: 18px;
  }
  #anchor {
    color: #00ccff;
    margin-left: 0px;
    font-size: 16px;
  }
  #but2 {
    margin-right: 0px;
    font-size: 16px;
  }
}



